body {
    font-family: 'Verdana', sans-serif;
}

.post {
    width: 100%;
    background-color: lightgrey;
    border-style: solid;
    border: black;
    border-width: medium;
}

.post-name {
    font-weight: bold;
}

.post-footer {
    font-style: italic;
}

.form-field {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0;
    padding: 10px 0;
}